body{
  background: #FAFAFA;
}
.top{
  height: 10vh;
  width: 100%;
  display: flex;
  border-bottom: 2px solid #A9A9A9;
  .topLeft{
    width: 250px;
    border-right: 3px solid #A9A9A9;
    //background-color: red;
    .btn{
      &:focus{
        box-shadow: 0 0 0 0;
      }
    }
    .dflex{
      margin-top: 5px;
      .imgSpan{
        border-radius: 50%;
        width: 40px;
        height: 40px;
        background-color: slategray;
        display: flex;
        align-items: center;
        justify-content: center;
        .imgPilus{
          width: 20px;
          height: 20px;
        }
      }
      .imgSpan2{
        margin-left: 20px;
        font-width:500;
        font-size: 15px;
        font-style: normal;
      }
    }
  }
  .topRight{
    width: calc(100% - 250px);
  display: flex;
    align-items: center;
    .input-group{
      width: 250px;
      //margin-top: 15px;
      margin-left: 40px;
      display: flex;
      align-items: center;
      background-color: #CACACA;
      border-radius: 20px;
      input{
        border: 0;
        margin-left: 10px;
        background-color: #CACACA;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        &:focus{
          box-shadow: 0 0 0 0;
        }
        &::placeholder{

        }
      }
      .input-group-append{
        background-color: #CACACA;
        border-radius: 20px;
        img{
          margin-left: 5px;
          margin-right: 20px;
        }
      }
    }
    select{
      width: 250px;
      margin-left: 50px;
      background-color: #E9E9E9;
    }
  }
}
.modal{
  margin-top:20px;
  border-radius: 0;
  height: 100vh;

}

.top2{

  table{
    //background-color: slategray;
    width: 100%;
    thead{
      background-color: yellow;
    }
  }
}
// --- dashboard section---

.background-root-1{
  background-image:linear-gradient(to right, #00bfff, #99e6ff);
  border-radius: 4px;
  height: 150px;
}
.background-root-2{
  background-image:linear-gradient(to right, #ff66ff, #ffb3ff);
  border-radius: 4px;
  height: 150px;
}
.background-root-3{
  background-image:linear-gradient(to right, #66ff66, #b3ffb3);
  border-radius: 4px;
  height: 150px;
}
.background-root-4{
  background-image:linear-gradient(to right, #ff8533, #ffb380);
  border-radius: 4px;
  height: 150px;
}
nav{
  background: #FFFFFF;
}
.chiziq{
  border-right: 2px solid grey;
}
.form-group{
  margin: 0;
  padding: 10px;
}
.row{
  margin: 0;
}